html 
	head
		title An Item
		link(rel="stylesheet" type="text/css" href="item.css")
	body
		include ../partials/header
		br
		h2 Item ID: #{item.id} 
		div(id="modify")
			div Name: 
				input(type="text" id="name" value=item.name)
			div Price: $
				input(type="text" id="price" value=item.price.toFixed(2))
			div Quantity:
				input(type="text" id="quantity" value=item.quantity)
			br
			input(type="submit" value="Save Changes" onclick="save()")
			input(type="submit" value="Delete" onclick="deleteItem()")
		div(id="itemID" style="display:none") #{item.id} 
		script(src="client-item.js")